body {
 
  font-family: 'Courgette', cursive;
  background-repeat: no-repeat;
  background-size: cover;
}

h1{
  font-size: 50px;
}

.App {
  text-align: center;
  padding-top: 40px;

}

.textFieldArea{
  margin: 30px auto;
  width: 90%;
  padding-top: 20px;
  
}

.ListArea{
  position: relative;
  margin: auto;
  background-color: aliceblue;
  width: 700px;
  height: 700px;
  border-radius: 25px;
  overflow: scroll;
}


.ListItem{
  margin:auto;
  margin-top: 20px;
  width: 650px;
  height: 55px;
  background-color: white;
  border-style: dashed;
  border-color: chocolate;
  border-radius: 25px;
  padding-top: 15px;
  
}

.ListText{
  position: relative;
  bottom: 10px;
  padding-bottom: 5px;
  font-size: 29px;
  color: black;
  font-family: 'Roboto', sans-serif;

}

.ListTextbox{
  position: relative;
  bottom: 10px;
  padding-bottom: 5px;
  font-size: 29px;
  color: black;
  font-family: 'Roboto', sans-serif;
  border: none;
  outline:none;
  background-color:rgba(0, 0, 0, 0);
}

.clearTask{
  position: sticky;
  width:700px;
  height: 100px;
  bottom:0px;
  border-radius: 25px;
  background-color: aliceblue;
  margin:auto;

}

.clearTask > svg{
  position: absolute;
  left: 50%;
  top: 50%;
  padding-top: 10px;
  color: black;
  transform: translate(-50%, -50%);
  cursor: pointer;
  
}
.clearData{
  position: absolute;
  padding-top: 10px;
  color: chocolate;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.MuiGrid-spacing-xs-2 > .MuiGrid-item{
  margin: auto;
}

.inputTodo{
  height: 50px;
  width: 500px;
  position: relative;
  border-radius: 20px;
  font-size: 24px;
  padding-left:17px;
  font-family: 'Roboto', sans-serif;
  position: relative;
  top: -20px;

}

.addBtn{
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  overflow: hidden;
  outline:none;
  position: relative;
  padding-left: 20px;

}

.addBtn > svg{
  color:black;
  cursor: pointer;
}

.delTrash {
  color: chocolate;
  position: relative;
  bottom: 6px;
  cursor: pointer;
  
}
/* mobile */
@media only screen and (max-width: 400px){
 
  html, body {
 
    font-family: 'Courgette', cursive;
    background-size: cover;
    overflow-x:hidden !important;
    background-attachment:fixed;
    height: 100%;
    position: fixed;
    width: fit-content;
  }

  h1{
    font-size:40px; 
    position: fixed;
    margin: 10px;
    top:5%;
    left:24%;
  }
  
  .App {
    text-align: center;
    padding-top: 40px;
  
  }
  
  .textFieldArea{
    margin: 20px auto;
    width: 70%;
    padding-top: 20px;
    
  }
  .controlContainer{
    position:relative;
    bottom:60px;
  }
  
  .ListArea{
    position: fixed;
    margin: 10px;
    top:15%;
    left:2%;
    background-color: aliceblue;
    width: 90%;
    height: 70%;
    border-radius: 25px;
    overflow: scroll;
  }
  
  
  .ListItem{
    margin:auto;
    margin-top: 20px;
    width: 80%;
    height: 45px;
    background-color: white;
    border-style: dashed;
    border-color: chocolate;
    border-radius: 25px;
    
  }
  
  .ListTextbox{
    position: relative;
    font-size: 29px;
    color: black;
    font-family: 'Roboto', sans-serif;
    border: none;
    outline:none;
    background-color:rgba(0, 0, 0, 0);
  }
  
  .clearTask{
    position: sticky;
    width: 50%;
    height: 100px;
    bottom:0px;
    border-radius: 25px;
    background-color: aliceblue;
    margin:auto;
  
  }
  
  .clearTask > svg{
    position: absolute;
    left: 50%;
    top: 50%;
    padding-top: 10px;
    color: red;
    transform: translate(-50%, -50%);
    cursor: pointer;
    font-size: 50px;
    
  }
  
  .MuiGrid-spacing-xs-2 > .MuiGrid-item{
    margin: auto;
  }
  
  .inputTodo{
    height: 40px;
    width: 100%;
    border-radius: 20px;
    font-size: 24px;
    padding-left:17px;
    font-family: 'Roboto', sans-serif;
    position: relative;
    top: -20px;
    left: -20px;
  
  }
  
  .addBtn{
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    overflow: hidden;
    outline:none;
    position: relative;
    padding-left: 20px;
    bottom:61px;
    left:130px;
  
  }
  
  .addBtn > svg{
    color:black;
    cursor: pointer;
    font-size: 40px;
  }
  
  .delTrash {
    color: chocolate;
    position: relative;
    bottom: 58px;
    cursor: pointer;
    font-size: small;
}

.clearData{
  position: absolute;
  padding-top: 5px;
  color: chocolate;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

}

